@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

header{
    background-color: white;
}

nav{
    display: none;
}

#modo{
    color: white;

    width: 40px;
    height: 40px;
    padding: 8px;

    position: absolute;
    right: 1%;
}

#modo #noite{
    display: none;
}

h1{
    text-align: center;
    font-size: 1.2em;

    margin-bottom: 20px;
}

li{
    text-align: center;
    color: white;

    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.35);
    background-color: black;
}

li:hover{
    background-color: rgb(114, 114, 114);
}

li:active{
    background-color: rgb(59, 58, 58);
}

img{
    height: 50px;
    display: flex;
    margin: auto;
    padding: 10px;
}

span.centralizar{
    display: flex;
    justify-content: center;
    
    padding: 8px;
    background-color: rgb(95, 94, 94);
}

main{
    width: 80%;
    margin: 10px auto;
    padding: 20px;

    border-radius: 20px;
    background-color: white;
}

section{
    padding: 20px 0px 10px 0px;
}

h2{
    margin-bottom: 20px;
}

p{
    font-weight: 400;
    text-indent: 30px;
    text-align: justify;
    line-height: 1.5em;
}

footer{
    color: white;
    text-align: center;
    padding: 5px;
    font-style: italic;
}

a{
    color: rgb(102, 102, 102);
    text-decoration: none;
}

a:hover{
    color: yellow;
    text-decoration: underline;
}

a:active{
    color: red;
}