@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family= Sriracha & display=swap');

:root{
    
    --fonte00: Verdana, Geneva, Tahoma, sans-serif;
    --fonte01: 'Passion One', cursive;
    --fonte02: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
}

header{
    
    text-align: center;
    background-color: black;
}

header > h1{
    color: yellow;
    font-family: var(--fonte01);
    font-weight: bolder;
    font-size: 10vw;
    font-variant: small-caps;

    padding-top: 50px;
}

header > p{
    color: rgb(164, 162, 162);
    font-family: var(--fonte00);
    font-size: 20px;
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 50px;

}

section > p{
    font-family: var(--fonte02);
    font-size: 3.2vw;

    padding: 20px;
    border-radius: 25px;
}

section.normal{
    background-color: white;
}

section.imagem{
    color: white;
    background-color: black;
}

section#imagem1{
    background-image: url('../imagens/image001.jpg');
    background-size: cover;
}

section#imagem1 > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.393);
}

section#imagem2{
    background-image: url('../imagens/image002.jpg');
    background-size: cover;
}

section#imagem2 > p{
    color: white;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.267);

}

footer{
    color: white;
    text-align: center;
    font-size: 18px;
    background-color: rgb(0, 0, 0);
    
    padding: 10px;

}

